<!DOCTYPE html>
<html lang="pt-br">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Garanta uma vida com confiança e estilo">
    <title>Barbearia</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <!--Cabeçalho-->
    <header>
        <a href="/">
            <img src="../static/images/logo-white.svg" alt="Barbearia">
        </a>
        <nav>
            <a href="./index.html">Início</a>
            <a href="#salao">Salão</a>
            <a href="#loja">Nossa loja</a>
            <a href="#duvidas">Dúvidas</a>
            <a href="clientes.html">Clientes</a>
            <a href="galeria.html">Galeria de Estilos</a>
            <a href="contatoclientes.html">Suporte</a>
        </nav>
    </header>
    <!--Conteúdo-->
    <main>
        <section id="inicio">
            <img src="../static/images/b3e48d9ebf692f1485e199dd3f6cbb28.jpg" alt="Homem de braços cruzados" width="420" height="360">
            <div>
                <h1>Garanta uma barba bem cuidada e cabelos saudaveis</h1>
                <p class="paragrafo">A Barbearia é seu refúgio de confiança para o cuidao completo da sua aparência. Com
                    profissionais dedicados e
                    serviços abrangentes, oferecemos uma experiência acolhedora e personalizada, garantindo o bem-estar,
                    a saúde e a felicidade dos nossos clientes.</p>
                <a class="botao" href="./agendamentos.html" target="_blank">Marque um horário</a>

            </div>
            <img class="absolute" src="../static/images/shape.svg" alt="">

        </section>

        <section id="salao">

            <div>
                <h2>Cuidado Estético com Qualidade</h2>
                <p class="paragrafo">
                    Nosso Salão é o local onde a paixão pelo nosso trabalho se une à excelência em cuidado. Sob
                    a dedicação da nossa equipe, com profissionais altamente qualificados e comprometidos, oferecemos
                    serviços de saúde e ben-estar para clientes personalizados. Marque um horário e
                    venha conhecer nosso salão e desfrute de uma atenção totalmente personalisada e com muito carinho.
                </p>
                <ul>
                    <li>Barba: manutenção do desenho, da hidratação, da esfoliação e da camuflagem dos fios brancos.
                    </li>
                    <li>Corte e tingimento de cabelos: Por isso, é interessante dispor não só do serviço de corte (com
                        tesoura e máquina) e tingimento, mas também de cobertura dos fios brancos (porque, sim, eles
                        aparecem cedo ou tarde!), modelagem de penteado, hidratação e por aí vai.</li>
                    <li>Manicure e podologo: Além de fazer barba, cabelo e bigode, é importante que a manicure e a
                        podologia estejam presentes entre os serviços da barbearia. A razão disso é que os homens estão
                        cada vez mais atentos ao aspecto e, principalmente, à saúde das mãos e dos pés e não querem que
                        ambos fiquem com uma aparência descuidada, pois isso pega mal no namoro, no trabalho, na família
                        etc.</li>
                    <li>Tratamento e controle de doenças</li>
                    <li>Vendas de produtos de qualidade</li>
                    <li>Atendimento personalisado</li>
                    <li>Área de convivência</li>
                </ul>
            </div>
            <img src="../static/images/361dbce283f5e400bc2e9d4b7734e589-ilustracao-de-poste-de-barbearia.png" alt="Imagem barbearia" width="480" height="480" loading="lazy">
        </section>

        <section id="loja">
            <img src="../static/images/loja.jpeg" alt="Imagem da Loja" width="645" height="430" loading="lazy">
            <div>
                <h2>Venha conferir nossos produtos</h2>
                <p class="paragrafo"> Além de sermos um salão de confiança, também contamos com uma completa
                    loja de acessórios e
                    farmácia. Nosso salão oferece uma ampla seleção de produtos de alta qualidade, para qu você possa se
                    manter elegante e na moda. Na nossa
                    Aqui você encontrará
                    uma variedade de medicamentos, produtos de cuidados e suplementos recomendados pelos nossos
                    especialistas,
                    garantindo o seu bem-estar e a saúde do seu cabelo e barba. Tudo o que você
                    precisa para cuidar e mimar as suas madeixas está aqui, no nosso salão e farmácia, com a mesma
                    dedicação
                    e qualidade
                    que nos tornou referência na área de barberia.
                </p>
            </div>

        </section>
        <section id="duvidas">
            <img src="../static/images/0689b7960214dba2323f97b411c61092-ilustracao-de-cadeira-de-barbearia.png" alt="Imagem cadeira de barbearia" width="540" height="540" loading="lazy">
            <div>
                <h2>Ficou com alguma dúvida?</h2>
                <div class="duvida">
                    <h3>Quais serviços são oferecidos pelo nosso salão?</h3>
                    <img src="../static/images/arrow-down.svg" alt="" loading="lazy">
                    <p class="paragrafo">
                        O Salão de barbearia oferece uma ampla gama de serviços, incluindo cortes de cabelo e barba,
                        aparamento e desenho,
                        implante capilar, tratamento de doenças capilares, podologo, atendimento personalisado,
                        programas de
                        prevenção de queda de cabelos, pigmentaçã, entre outros. Nosso objetivo é fornecer cuidados
                        abrangentes e
                        personalizados para garantir a saúde e o bem-estar de nossos clientes.
                    </p>
                </div>

                <div class="duvida">
                    <h3>O que nosso espaço pode oferecer?</h3>
                    <img src="../static/images/arrow-down.svg" alt="" loading="lazy">
                    <p class="paragrafo">
                        O salão de barbearia oferece um espaço amplo com sala de jogos, um bar super completo.
                        Nossos profissionais possuem conhecimento e experiência
                        para
                        cuidar de diferentes tipos de cabelos e barbas, oferecendo um atendimento especializado e
                        dedicado a cada
                        um
                        de nossos clientes.
                    </p>
                </div>

                <div class="duvida">
                    <h3>Qual o horário de atendimento do salão?</h3>
                    <img src="../static/images/arrow-down.svg" alt="" loading="lazy">
                    <p class="paragrafo">
                        Atendemos de segunda a sabado das 09:00 as 19:00 mediante agendamento prévio. Proporcianando
                        assim uma experiência mais agradável
                        aos nosos cliente.
                    </p>
                </div>

                <div class="duvida">
                    <h3>O salão oferece estacionamento?</h3>
                    <img src="../static/images/arrow-down.svg" alt="" loading="lazy">
                    <p class="paragrafo">
                        Sim, o salão de barbearia oferece estacionamento com manobrista . Nossos manobristas são
                        profissionais experientes o que garante segurança ao seu carro enquanto você dá aquele trato no
                        visual, usando produtos de
                        alta
                        qualidade e técnicas seguras.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <span>
            <img src="../static/images/logo.svg" alt="Barbearia">
            <p>Cuidando com amor, vivendo com alegria: Barbearia, onde a vida é mais feliz</p>
            <strong class="titulo">Siga Nossa Página</strong>

            <p>Instagran: <a href="https://www.instagram.com/" target="_blank"><img src="../static/images/instagram.png" alt="" width="45" height="45"></a>Rua Das maravilhas 1122 Parque Sucesso-SP (11) 95678-2564.</p>

        </span>

        <div>
            <strong class="titulo">Links rápidos</strong>
            <nav>
                <a href="#inicio">Início</a>
                <a href="#salao">Salão</a>
                <a href="#loja">Nossa loja</a>
                <a href="#duvidas">Dúvidas</a>
            </nav>
        </div>

    </footer>

    <div id="copyright">Desenvolvido por <a href="https://github.com/tinonazaareth" target="_blank">@equipe2soulcode</a>
        <p>&copy; 2023<span style='font: size 0.5em;;'>&#128640; Desenvolvedores FullStack Java.</span></p>

    </div>

    <script src="../static/js/index.js"></script>
</body>

</html>